<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.MenuMapper">
    <select id="findByUserId" resultType="com.manage.entity.Menu">
        SELECT m.`create_by`,m.`create_time`,m.`id`,m.`name`,m.`path`,m.`pid`,m.`update_time`
        FROM menu AS m , role_menu AS rm ,user_role AS ur
        WHERE ur.`role_id` = rm.`role_id`
          AND rm.`menu_id` = m.`id`
          AND ur.`user_id` = #{userId}
    </select>
</mapper>