<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.UserMapper">
    <select id="findAllStudents" resultType="com.manage.entity.User">
        SELECT u.id,u.username,u.email,u.phone,u.introduce,u.create_time,u.update_time
        FROM USER AS u , user_role AS ur
        WHERE u.id = ur.`user_id`
          AND ur.`role_id` = 250
    </select>

    <select id="findAllTeachers" resultType="com.manage.entity.User">
        SELECT u.id,u.username,u.email,u.phone,u.introduce,u.create_time,u.update_time
        FROM USER AS u , user_role AS ur
        WHERE u.id = ur.`user_id`
          AND ur.`role_id` = 251
    </select>

    <select id="findAllUsers" resultType="com.manage.entity.User">
        SELECT u.id,u.username,u.email,u.phone,u.introduce,u.create_time,u.update_time,c.`id` AS classId ,c.`name` AS className,co.`id` AS collegeId,co.`name` AS collegeName,ur.`role_id` AS roleId,r.`name` AS roleName
        FROM USER AS u
                 LEFT JOIN user_class AS uc ON u.id = uc.user_id
                 LEFT JOIN class AS c ON uc.class_id = c.id
                 LEFT JOIN college AS co ON c.college_id = co.id
                 LEFT JOIN user_role AS ur ON ur.user_id = u.id
                 LEFT JOIN role AS r ON r.id = ur.`role_id`
        where u.username like concat('%',#{query},'%')
                OR u.email like concat('%',#{query},'%')
                OR u.phone like concat('%',#{query},'%')
                OR c.`name` like concat('%',#{query},'%')
                OR co.`name` like concat('%',#{query},'%')
    </select>
</mapper>